.main__header
    .main__header--logo
      %h1.head
        = link_to new_great_path do
          = image_tag 'https://www.greatman-words.com/common-images/logo@2x.png', alt: '名言', height: '70', width: '500'

      - unless user_signed_in? 
        = link_to 'ログイン', user_session_path, class: 'main__header--log'
        
        = link_to '新規登録', new_user_registration_path, class: 'main__header--log2'
      
      - else
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'main__header--log3'
    .main__header--nav#headerNav 
      %ul.arrowListclearfix
        %li 
          = link_to '人生', life_greats_path, class:"link"
        %li
          = link_to '夢', dream_greats_path, class:"link"
        %li 
          = link_to '恋愛', love_greats_path, class:"link"
        %li 
          = link_to '仕事', job_greats_path, class:"link"
        %li
          = link_to 'スポーツ', sports_greats_path, class:"link"
        %li
          = link_to '歴史', history_greats_path, class:"link"
        %li
          = link_to 'アニメ', anime_greats_path, class:"link"